<footer class="pt-1 border-top ftr bg-dark">
    <div class="text-white">
        <div class="d-flex flex-inline">
            <div class="col-4 d-flex align-items-center ps-2">
                <div>
                    <div>{{currentSong.tittle}}</div>
                    <div class="text-body-secondary">{{currentSong.artist}}</div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="d-flex justify-content-center">
                    <div class="col-4"><button (click)="previous()" class="btn"><img src="../../assets/icon/back.svg"></button></div>
                    <div class="col-4"><button (click)="play()" class="btn">
                        <img *ngIf="!pausado" src="../../assets/icon/pause.svg">
                        <img *ngIf="pausado" src="../../assets/icon/play.svg">
                    </button></div>
                    <div class="col-4"><button (click)="next()" class="btn"><img src="../../assets/icon/next.svg"></button></div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center me-2">
                        0:00&nbsp;/&nbsp;0:00
                    </div>
                    <div>
                        <mat-slider class="slider-full duration" color="primary" min="0" max="1"><input matSliderThumb></mat-slider>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex pe-2 align-items-center justify-content-end">
                <div class="pe-2">
                    <img *ngIf="volumeSlider >= 9" src="../../assets/icon/volume-max.svg">
                    <img *ngIf="volumeSlider < 9 && volumeSlider > 0" src="../../assets/icon/volume-min.svg">
                    <img *ngIf="volumeSlider == 0" src="../../assets/icon/volume-xmark.svg">
                </div>
                <div>
                    <mat-slider (change)="adjustVolume()" class="volume" step="1" min="0" max="16"><input matSliderThumb [(ngModel)]="volumeSlider"></mat-slider>
                </div>
            </div>
        </div>
    </div>
</footer>