<div class="contenedor">
    <ul class="list-group pb-2">
        <li class="list-group-item pb-0">
            <div class="row">
                <div class="col-6">
                    <h6>Name</h6>
                </div>
                <div class="col-6">
                    <h6>Artist</h6>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li *ngFor="let song of musicList, let i = index" [attr.data-index]="i" class="list-group-item"
            [ngClass]="i == currentSongIndex ? 'active':''">
            <div class="row align-items-center">
                <div class="col-6"><a (click)="play(i)" class="title"
                        [ngClass]="i == currentSongIndex ? '':'h'">{{song.title}}</a></div>
                <div class="col-5"><a class="artist">{{song.artist}}</a></div>
                <div class="col-1 text-end">
                    <div class="btn-group dropstart">
                        <a class="menu-btn" data-bs-toggle="dropdown" aria-expanded="false">
                            <img *ngIf="i != currentSongIndex" [src]="icLinesSuccess">
                            <img *ngIf="i == currentSongIndex" [src]="icLinesWhite">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Go to artist</a></li>
                            <li><a class="dropdown-item">Add to playlist &laquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li><a class="dropdown-item" href="#">Playlist 1</a></li>
                                    <li><a class="dropdown-item" href="#">Playlist 2</a></li>
                                    <li><a class="dropdown-item" href="#">Playlist 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>