<div class="contenedor">
    <ul class="list-group pb-2">
        <li class="list-group-item pb-0">
            <div class="row">
                <div class="col-6">
                    <h6>Name</h6>
                </div>
                <div class="col-6">
                    <h6>Artist</h6>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li *ngFor="let song of musicList, let i = index" [attr.data-index]="i" class="list-group-item" [ngClass]="i == currentSongIndex ? 'active':''">
            <div class="row align-items-center">
                <div class="col-6"><a (click)="play(i)" class="tittle" [ngClass]="i == currentSongIndex ? '':'tittle h'">{{song.tittle}}</a></div>
                <div class="col-5">{{song.artist}}</div>
                <div class="col-1 text-end"><a href="">
                    <img *ngIf="i != currentSongIndex" src="../../assets/icon/more_horizontal_lines.svg">
                    <img *ngIf="i == currentSongIndex" src="../../assets/icon/more_horizontal_lines_white.svg">
                </a></div>
            </div>
        </li>
    </ul>
</div>

<div>
    <app-panel-control 
    [musicList]="musicList" 
    [(pausado)]="pausado" 
    [(currentSong)]="currentSong" 
    [(currentSongIndex)]="currentSongIndex" 
    [(audio)]="audio">
    </app-panel-control>
</div>