<div class="contenedor">
    <div class="row">
        <div class="col-12 text-white">
            <h1>{{nickname}}</h1>
        </div>
    </div>
    <ul class="list-group mb-2 mt-2">
        <li class="list-group-item pb-0">
            <div class="row">
                <div class="col-12">
                    <h6>Releases</h6>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-group">
        <li *ngFor="let song of songs"  class="list-group-item">
            <div class="row align-items-center">
                <div class="col-11"><a (click)="play()" class="title">{{song.title}}</a></div>
                <div class="col-1 text-end"></div>
            </div>
        </li>
    </ul>
</div>