<div class="contenedor">
    <ul class="list-group pb-2">
        <li class="list-group-item pb-0">
            <div class="row">
                <div class="col-6">
                    <h6>Artist</h6>
                </div>
            </div>
        </li>
    </ul>
    <ul *ngIf="loading" class="list-group">
        <div class="row align-items-center text-center">
            <div class="col-12 text-white">Loading...</div>
        </div>
    </ul>
    <ul *ngIf="!loading" class="list-group">
        <li *ngFor="let user of users" class="list-group-item">
            <div class="row align-items-center">
                <div class="col-6"><a class="artist"
                        routerLink="/artists/profile/{{user.nickname}}">{{user.nickname}}</a></div>
            </div>
        </li>
    </ul>
</div>