/* You can add global styles to this file, and also import other style files */
.no-padding {
    padding: 0;
}

.absolute {
    position: absolute;
    height: 100%;
    width: 100%;
}

.footer-space{
    padding-bottom: 120px;
}